In [2]:
import numpy as np
import pandas as pd

In [4]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

myvar

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [7]:
a = [1, 7, 2]

myvar = pd.Series(a)
myvar = pd.Series(a, index = ["x", "y", "z"])

myvar

x    1
y    7
z    2
dtype: int64

In [8]:
print(myvar["y"])

7

In [10]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

myvar

day1    420
day2    380
day3    390
dtype: int64

In [11]:
myvar = pd.Series(calories, index = ["day1", "day2"])

myvar

day1    420
day2    380
dtype: int64

# Dataframe

In [24]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

df

   calories  duration
0       420        50
1       380        40
2       390        45

In [25]:
df.loc[0]

calories    420
duration     50
Name: 0, dtype: int64

In [26]:
df.loc[[0,1]]

   calories  duration
0       420        50
1       380        40

In [27]:
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
df

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [28]:
df.loc["day2"]

calories    380
duration     40
Name: day2, dtype: int64

# Ler CSV

In [32]:
df = pd.read_csv("data.csv")
df #df.to_string() to print the entire DataFrame.

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [33]:
#maximo de linhas q imprimi, no momento 60
pd.options.display.max_rows

60

In [34]:
df = pd.read_json("data.json")
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [38]:
df.head(5) #primeiras 5 linhas

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [43]:
df.tail(5) #ultimas 5

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.6 KB

In [47]:
df.loc[165, "Calories"]

300.4