In [1]:
import numpy as np
import pandas as pd

# Perguntas:
* Principios ativos mais vendidos do pais (5 mais vendidos)
* Principios ativos mais vendidos por estado. (5 mais vendidos por estado)
* Principios ativos mais vendidos por faixa etaria. Compradores de 20 a 30, 31 a 40, 41 a 50.. (5 mais vendidos por faixa etária)
* Quantidade vendida / habitante (Medicamentos vendidos per capita por estado)
* Municipios que mais vende medicamentos em cada estado e quais os medicamentos mais vendidos nesses estados (5 mais vendidos)).

In [2]:
farmacos = pd.read_csv("EDA_Industrializados_202110.csv", sep=";", encoding="latin1")

In [3]:
farmacos.head(2)

,ANO_VENDA,MES_VENDA,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,DESCRICAO_APRESENTACAO,QTD_VENDIDA,UNIDADE_MEDIDA,CONSELHO_PRESCRITOR,UF_CONSELHO_PRESCRITOR,TIPO_RECEITUARIO,CID10,SEXO,IDADE,UNIDADE_IDADE
0,2021,10,SP,IGARAÇU DO TIETÊ,CELECOXIBE,200 MG CAP DURA CT BL AL PLAS PVC/PCTFE TRANS ...,14,CAIXA,CRM,SP,1.0,NaN,NaN,NaN,NaN
1,2021,10,SP,IGARAÇU DO TIETÊ,CELECOXIBE,200 MG CAP DURA CT BL AL PLAS PVC/PCTFE TRANS ...,1,CAIXA,CRM,SP,5.0,NaN,1.0,56.0,1.0

In [4]:
farmacos.describe()

,ANO_VENDA,MES_VENDA,QTD_VENDIDA,TIPO_RECEITUARIO,SEXO,IDADE,UNIDADE_IDADE
count,5989708.0,5989708.0,5.989708e+06,5.989708e+06,4.285276e+06,4.285276e+06,4.285276e+06
mean,2021.0,10.0,5.534829e+00,3.624664e+00,1.554298e+00,4.139040e+01,1.016557e+00
std,0.0,0.0,8.941821e+02,1.821485e+00,4.970430e-01,3.785119e+01,1.276041e-01
min,2021.0,10.0,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00
25%,2021.0,10.0,1.000000e+00,1.000000e+00,1.000000e+00,2.500000e+01,1.000000e+00
50%,2021.0,10.0,1.000000e+00,5.000000e+00,2.000000e+00,3.900000e+01,1.000000e+00
75%,2021.0,10.0,3.000000e+00,5.000000e+00,2.000000e+00,5.600000e+01,1.000000e+00
max,2021.0,10.0,1.440897e+06,5.000000e+00,2.000000e+00,9.990000e+02,2.000000e+00

In [5]:
df = farmacos.filter(["UF_VENDA", "MUNICIPIO_VENDA", "PRINCIPIO_ATIVO", "QTD_VENDIDA", "IDADE"])

In [6]:
df.head(5)

  UF_VENDA   MUNICIPIO_VENDA PRINCIPIO_ATIVO  QTD_VENDIDA  IDADE
0       SP  IGARAÇU DO TIETÊ      CELECOXIBE           14    NaN
1       SP  IGARAÇU DO TIETÊ      CELECOXIBE            1   56.0
2       SP  IGARAÇU DO TIETÊ      CELECOXIBE            3    NaN
3       SP  IGARAÇU DO TIETÊ      CELECOXIBE            1    NaN
4       SP  IGARAÇU DO TIETÊ      CELECOXIBE            3    NaN

In [7]:
qtd_vendida_idade = df.groupby(["UF_VENDA", "MUNICIPIO_VENDA", "PRINCIPIO_ATIVO", "IDADE"])["QTD_VENDIDA"].sum().reset_index()

In [8]:
qtd_vendida_idade

,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,IDADE,QTD_VENDIDA
0,AC,ACRELÂNDIA,AMOXICILINA,2.0,3
1,AC,ACRELÂNDIA,AMOXICILINA,5.0,1
2,AC,ACRELÂNDIA,AMOXICILINA,8.0,3
3,AC,ACRELÂNDIA,AMOXICILINA,9.0,1
4,AC,ACRELÂNDIA,AMOXICILINA,15.0,1
...,...,...,...,...,...
2254187,TO,XAMBIOÁ,SULFAMETOXAZOL + TRIMETOPRIMA,51.0,1
2254188,TO,XAMBIOÁ,SULFAMETOXAZOL + TRIMETOPRIMA,56.0,1
2254189,TO,XAMBIOÁ,SULFAMETOXAZOL + TRIMETOPRIMA,90.0,1
2254190,TO,XAMBIOÁ,TOBRAMICINA,36.0,2
2254191,TO,XAMBIOÁ,TOBRAMICINA,45.0,2

- 5 medicamentos mais vendidos no pais considerando faixa etaria

In [9]:
maximos_total_idade = qtd_vendida_idade["QTD_VENDIDA"].nlargest(5)
maximos_total_idade

948760     72600
1790690    32026
2185151     3493
2184752     3224
2184753     2846
Name: QTD_VENDIDA, dtype: int64

In [10]:
qtd_vendida_idade.loc[maximos_total_idade.index]

,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,IDADE,QTD_VENDIDA
948760,PE,RECIFE,VALPROATO DE SÓDIO,45.0,72600
1790690,SP,ARARAS,AMOXICILINA TRI-HIDRATADA + CLAVULANATO DE POT...,36.0,32026
2185151,SP,SÃO PAULO,AMOXICILINA TRI-HIDRATADA + CLAVULANATO DE POT...,2.0,3493
2184752,SP,SÃO PAULO,AMOXICILINA TRI-HIDRATADA,2.0,3224
2184753,SP,SÃO PAULO,AMOXICILINA TRI-HIDRATADA,3.0,2846

* 5 Medicamentos mais vendido do pais por região

In [11]:
qtd_vendida = df.groupby(["UF_VENDA", "MUNICIPIO_VENDA", "PRINCIPIO_ATIVO"])["QTD_VENDIDA"].sum()

In [12]:
qtd_vendida = qtd_vendida.reset_index()

In [13]:
qtd_vendida

,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,QTD_VENDIDA
0,AC,ACRELÂNDIA,ALPRAZOLAM,7
1,AC,ACRELÂNDIA,AMOXICILINA,41
2,AC,ACRELÂNDIA,AMOXICILINA + CLAVULANATO DE POTÁSSIO,29
3,AC,ACRELÂNDIA,AMOXICILINA TRI-HIDRATADA,19
4,AC,ACRELÂNDIA,AMOXICILINA TRI-HIDRATADA + CLARITROMICINA + E...,2
...,...,...,...,...
502361,TO,XAMBIOÁ,SUCCINATO DE DESVENLAFAXINA MONOIDRATADO,4
502362,TO,XAMBIOÁ,SULFADIAZINA DE PRATA,1
502363,TO,XAMBIOÁ,SULFAMETOXAZOL + TRIMETOPRIMA,12
502364,TO,XAMBIOÁ,TOBRAMICINA,4
502365,TO,XAMBIOÁ,ÁCIDO VALPRÓICO + VALPROATO DE SÓDIO,3

In [14]:
maximos_total = qtd_vendida["QTD_VENDIDA"].nlargest(10)
maximos_total

380757    1440990
336884     789861
344055     789622
55539      722676
485325     722170
402235     635581
488786     118699
488825      90383
488784      75073
249474      74417
Name: QTD_VENDIDA, dtype: int64

- 5 principios ativos mais vendidos do pais / região

In [15]:
qtd_vendida.loc[maximos_total.index]

,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,QTD_VENDIDA
380757,RS,TUPANCIRETÃ,HEMIFUMARATO DE QUETIAPINA,1440990
336884,RS,BAGÉ,CLORIDRATO DE TRAMADOL + PARACETAMOL,789861
344055,RS,CERRO GRANDE,CLORIDRATO DE DULOXETINA,789622
55539,DF,BRASÍLIA,CARBONATO DE LÍTIO,722676
485325,SP,SOROCABA,DECANOATO DE NANDROLONA,722170
402235,SC,NOVA VENEZA,UNDECILATO DE TESTOSTERONA,635581
488786,SP,SÃO PAULO,HEMITARTARATO DE ZOLPIDEM,118699
488825,SP,SÃO PAULO,OXALATO DE ESCITALOPRAM,90383
488784,SP,SÃO PAULO,HEMIFUMARATO DE QUETIAPINA,75073
249474,PE,RECIFE,VALPROATO DE SÓDIO,74417

In [16]:
qtd_vendida_go = qtd_vendida.query("UF_VENDA == 'GO'")

In [17]:
qtd_vendida_go

,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,QTD_VENDIDA
68789,GO,ABADIA DE GOIÁS,ACETATO DE RETINOL + AMINOÁCIDOS + CLORANFENIC...,4
68790,GO,ABADIA DE GOIÁS,ALPRAZOLAM,38
68791,GO,ABADIA DE GOIÁS,AMOXICILINA,47
68792,GO,ABADIA DE GOIÁS,AMOXICILINA + CLAVULANATO DE POTÁSSIO,13
68793,GO,ABADIA DE GOIÁS,AMOXICILINA TRI-HIDRATADA,20
...,...,...,...,...
94145,GO,ÁGUAS LINDAS DE GOIÁS,ÁCIDO FUSÍDICO,1
94146,GO,ÁGUAS LINDAS DE GOIÁS,ÁCIDO FUSÍDICO + FUROATO DE MOMETASONA,1
94147,GO,ÁGUAS LINDAS DE GOIÁS,ÁCIDO FUSÍDICO + VALERATO DE BETAMETASONA,3
94148,GO,ÁGUAS LINDAS DE GOIÁS,ÁCIDO VALPRÓICO,49
94149,GO,ÁGUAS LINDAS DE GOIÁS,ÁCIDO VALPRÓICO + VALPROATO DE SÓDIO,32

In [18]:
maximos_go = qtd_vendida_go["QTD_VENDIDA"].nlargest(10)
maximos_go

78715    25482
78755    16711
78713    16434
78761    15617
78646    13879
78592    13114
78522    12605
78770    12091
78552     9319
78534     9121
Name: QTD_VENDIDA, dtype: int64

In [19]:
qtd_vendida_go.loc[maximos_go.index]

,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,QTD_VENDIDA
78715,GO,GOIÂNIA,HEMITARTARATO DE ZOLPIDEM,25482
78755,GO,GOIÂNIA,OXALATO DE ESCITALOPRAM,16711
78713,GO,GOIÂNIA,HEMIFUMARATO DE QUETIAPINA,16434
78761,GO,GOIÂNIA,PREGABALINA,15617
78646,GO,GOIÂNIA,CLORIDRATO DE SERTRALINA,13879
78592,GO,GOIÂNIA,CLONAZEPAM,13114
78522,GO,GOIÂNIA,ALPRAZOLAM,12605
78770,GO,GOIÂNIA,SOMATROPINA,12091
78552,GO,GOIÂNIA,AZITROMICINA DI-HIDRATADA,9319
78534,GO,GOIÂNIA,AMOXICILINA TRI-HIDRATADA + CLAVULANATO DE POT...,9121

- Indices pra filtrar os estados

In [20]:
qtd_vendida["UF_VENDA"].unique()

array(['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG',
       'MS', 'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 'RO', 'RR',
       'RS', 'SC', 'SE', 'SP', 'TO'], dtype=object)

In [21]:
qtd_vendida.groupby('UF_VENDA').apply(lambda x: x.index.tolist()).reset_index(name='Indices')

   UF_VENDA                                            Indices
0        AC  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
1        AL  [1367, 1368, 1369, 1370, 1371, 1372, 1373, 137...
2        AM  [6959, 6960, 6961, 6962, 6963, 6964, 6965, 696...
3        AP  [8204, 8205, 8206, 8207, 8208, 8209, 8210, 821...
4        BA  [8706, 8707, 8708, 8709, 8710, 8711, 8712, 871...
5        CE  [41026, 41027, 41028, 41029, 41030, 41031, 410...
6        DF  [54951, 54952, 54953, 54954, 54955, 54956, 549...
7        ES  [58836, 58837, 58838, 58839, 58840, 58841, 588...
8        GO  [68789, 68790, 68791, 68792, 68793, 68794, 687...
9        MA  [94150, 94151, 94152, 94153, 94154, 94155, 941...
10       MG  [105053, 105054, 105055, 105056, 105057, 10505...
11       MS  [192230, 192231, 192232, 192233, 192234, 19223...
12       MT  [200274, 200275, 200276, 200277, 200278, 20027...
13       PA  [212701, 212702, 212703, 212704, 212705, 21270...
14       PB  [220288, 220289, 220290, 220291, 220292, 22029...
15       PE  [236747, 236748, 236749, 236750, 236751, 23675...
16       PI  [254435, 254436, 254437, 254438, 254439, 25444...
17       PR  [260279, 260280, 260281, 260282, 260283, 26028...
18       RJ  [299823, 299824, 299825, 299826, 299827, 29982...
19       RN  [314034, 314035, 314036, 314037, 314038, 31403...
20       RO  [327896, 327897, 327898, 327899, 327900, 32790...
21       RR  [333196, 333197, 333198, 333199, 333200, 33320...
22       RS  [333930, 333931, 333932, 333933, 333934, 33393...
23       SC  [383392, 383393, 383394, 383395, 383396, 38339...
24       SE  [414943, 414944, 414945, 414946, 414947, 41494...
25       SP  [420720, 420721, 420722, 420723, 420724, 42072...
26       TO  [497134, 497135, 497136, 497137, 497138, 49713...

In [22]:
resultados = []

In [23]:
for estado in qtd_vendida["UF_VENDA"].unique():
    df_estado = qtd_vendida[qtd_vendida["UF_VENDA"] == estado]
    maximos = df_estado["QTD_VENDIDA"].nlargest(5)
    maximos = df_estado.loc[maximos.index]
    resultados.append({"estado": estado, "Indices" : maximos})

In [24]:
resultados[1]

{'estado': 'AL',
 'Indices':      UF_VENDA MUNICIPIO_VENDA              PRINCIPIO_ATIVO  QTD_VENDIDA
 3522       AL          MACEIÓ                   CLONAZEPAM         8000
 3624       AL          MACEIÓ   HEMIFUMARATO DE QUETIAPINA         4876
 3626       AL          MACEIÓ    HEMITARTARATO DE ZOLPIDEM         4569
 3661       AL          MACEIÓ      OXALATO DE ESCITALOPRAM         4522
 3528       AL          MACEIÓ  CLORIDRATO DE AMITRIPTILINA         4474}

In [25]:
resultado_AC = pd.DataFrame(resultados[0]["Indices"])
resultado_AC

    UF_VENDA MUNICIPIO_VENDA             PRINCIPIO_ATIVO  QTD_VENDIDA
801       AC      RIO BRANCO                  CLONAZEPAM         2413
891       AC      RIO BRANCO   HEMITARTARATO DE ZOLPIDEM         1489
788       AC      RIO BRANCO     CEFALEXINA MONOIDRATADA         1475
843       AC      RIO BRANCO    CLORIDRATO DE SERTRALINA         1375
889       AC      RIO BRANCO  HEMIFUMARATO DE QUETIAPINA         1214

In [26]:
qtd_vendida["UF_VENDA"].unique()

array(['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG',
       'MS', 'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 'RO', 'RR',
       'RS', 'SC', 'SE', 'SP', 'TO'], dtype=object)

In [27]:
resultado_AL = pd.DataFrame(resultados[1]["Indices"])
resultado_AL

     UF_VENDA MUNICIPIO_VENDA              PRINCIPIO_ATIVO  QTD_VENDIDA
3522       AL          MACEIÓ                   CLONAZEPAM         8000
3624       AL          MACEIÓ   HEMIFUMARATO DE QUETIAPINA         4876
3626       AL          MACEIÓ    HEMITARTARATO DE ZOLPIDEM         4569
3661       AL          MACEIÓ      OXALATO DE ESCITALOPRAM         4522
3528       AL          MACEIÓ  CLORIDRATO DE AMITRIPTILINA         4474

In [28]:
resultados_AM = pd.DataFrame(resultados[2]["Indices"])
resultados_AM

     UF_VENDA MUNICIPIO_VENDA            PRINCIPIO_ATIVO  QTD_VENDIDA
7658       AM          MANAUS    CEFALEXINA MONOIDRATADA         5723
7673       AM          MANAUS                 CLONAZEPAM         5212
7657       AM          MANAUS                 CEFALEXINA         3578
7637       AM          MANAUS  AZITROMICINA DI-HIDRATADA         3530
7619       AM          MANAUS  AMOXICILINA TRI-HIDRATADA         3253

In [29]:
resultados_2 = []

In [30]:
for estado in qtd_vendida["UF_VENDA"].unique():
    df_estado = qtd_vendida[qtd_vendida["UF_VENDA"] == estado]
    top_5_medicamentos = df_estado.sort_values('QTD_VENDIDA', ascending=False).head(5)
    medicamentos_vendidos = top_5_medicamentos[["MUNICIPIO_VENDA", 'PRINCIPIO_ATIVO', 'QTD_VENDIDA']].to_dict('records')
    resultados_2.append({'estado': estado, 'medicamentos': medicamentos_vendidos})

In [31]:
df_resultados_2 = pd.DataFrame(resultados_2)

In [32]:
df_resultados_2

   estado                                       medicamentos
0      AC  [{'MUNICIPIO_VENDA': 'RIO BRANCO', 'PRINCIPIO_...
1      AL  [{'MUNICIPIO_VENDA': 'MACEIÓ', 'PRINCIPIO_ATIV...
2      AM  [{'MUNICIPIO_VENDA': 'MANAUS', 'PRINCIPIO_ATIV...
3      AP  [{'MUNICIPIO_VENDA': 'MACAPÁ', 'PRINCIPIO_ATIV...
4      BA  [{'MUNICIPIO_VENDA': 'SALVADOR', 'PRINCIPIO_AT...
5      CE  [{'MUNICIPIO_VENDA': 'FORTALEZA', 'PRINCIPIO_A...
6      DF  [{'MUNICIPIO_VENDA': 'BRASÍLIA', 'PRINCIPIO_AT...
7      ES  [{'MUNICIPIO_VENDA': 'VITÓRIA', 'PRINCIPIO_ATI...
8      GO  [{'MUNICIPIO_VENDA': 'GOIÂNIA', 'PRINCIPIO_ATI...
9      MA  [{'MUNICIPIO_VENDA': 'SÃO LUÍS', 'PRINCIPIO_AT...
10     MG  [{'MUNICIPIO_VENDA': 'BELO HORIZONTE', 'PRINCI...
11     MS  [{'MUNICIPIO_VENDA': 'CAMPO GRANDE', 'PRINCIPI...
12     MT  [{'MUNICIPIO_VENDA': 'CUIABÁ', 'PRINCIPIO_ATIV...
13     PA  [{'MUNICIPIO_VENDA': 'BELÉM', 'PRINCIPIO_ATIVO...
14     PB  [{'MUNICIPIO_VENDA': 'JOÃO PESSOA', 'PRINCIPIO...
15     PE  [{'MUNICIPIO_VENDA': 'RECIFE', 'PRINCIPIO_ATIV...
16     PI  [{'MUNICIPIO_VENDA': 'TERESINA', 'PRINCIPIO_AT...
17     PR  [{'MUNICIPIO_VENDA': 'CURITIBA', 'PRINCIPIO_AT...
18     RJ  [{'MUNICIPIO_VENDA': 'RIO DE JANEIRO', 'PRINCI...
19     RN  [{'MUNICIPIO_VENDA': 'PEDRO VELHO', 'PRINCIPIO...
20     RO  [{'MUNICIPIO_VENDA': 'PORTO VELHO', 'PRINCIPIO...
21     RR  [{'MUNICIPIO_VENDA': 'BOA VISTA', 'PRINCIPIO_A...
22     RS  [{'MUNICIPIO_VENDA': 'TUPANCIRETÃ', 'PRINCIPIO...
23     SC  [{'MUNICIPIO_VENDA': 'NOVA VENEZA', 'PRINCIPIO...
24     SE  [{'MUNICIPIO_VENDA': 'ARACAJU', 'PRINCIPIO_ATI...
25     SP  [{'MUNICIPIO_VENDA': 'SOROCABA', 'PRINCIPIO_AT...
26     TO  [{'MUNICIPIO_VENDA': 'PALMAS', 'PRINCIPIO_ATIV...

In [33]:
resultado_sp = df_resultados_2.loc[df_resultados_2["estado"] == "SP"]

In [34]:
print(resultado_sp["medicamentos"].tolist())

[[{'MUNICIPIO_VENDA': 'SOROCABA', 'PRINCIPIO_ATIVO': 'DECANOATO DE NANDROLONA', 'QTD_VENDIDA': 722170}, {'MUNICIPIO_VENDA': 'SÃO PAULO', 'PRINCIPIO_ATIVO': 'HEMITARTARATO DE ZOLPIDEM', 'QTD_VENDIDA': 118699}, {'MUNICIPIO_VENDA': 'SÃO PAULO', 'PRINCIPIO_ATIVO': 'OXALATO DE ESCITALOPRAM', 'QTD_VENDIDA': 90383}, {'MUNICIPIO_VENDA': 'SÃO PAULO', 'PRINCIPIO_ATIVO': 'HEMIFUMARATO DE QUETIAPINA', 'QTD_VENDIDA': 75073}, {'MUNICIPIO_VENDA': 'SÃO PAULO', 'PRINCIPIO_ATIVO': 'CLORIDRATO DE SERTRALINA', 'QTD_VENDIDA': 72063}]]

# Medicamentos por idade

In [35]:
qtd_vendida_idade.head(3)

  UF_VENDA MUNICIPIO_VENDA PRINCIPIO_ATIVO  IDADE  QTD_VENDIDA
0       AC      ACRELÂNDIA     AMOXICILINA    2.0            3
1       AC      ACRELÂNDIA     AMOXICILINA    5.0            1
2       AC      ACRELÂNDIA     AMOXICILINA    8.0            3

In [36]:
df_filtro_idade = qtd_vendida_idade[((qtd_vendida_idade["IDADE"] >= 20) & (qtd_vendida_idade["IDADE"] < 30))]

In [37]:
df_filtro_idade_30 = qtd_vendida_idade[((qtd_vendida_idade["IDADE"] >= 30) & (qtd_vendida_idade["IDADE"] < 40))]

In [38]:
medicamentos_idade_20_30 = df_filtro_idade.groupby(['UF_VENDA', 'PRINCIPIO_ATIVO']).agg({'QTD_VENDIDA': 'sum'}).reset_index()

In [39]:
medicamentos_idade_20_30

     UF_VENDA                                    PRINCIPIO_ATIVO  QTD_VENDIDA
0          AC  ACETATO DE RETINOL + AMINOÁCIDOS + CLORANFENIC...           26
1          AC  ACETONIDA DE TRIANCINOLONA + GRAMICIDINA + NIS...            3
2          AC                                          ADAPALENO            1
3          AC                ADAPALENO + FOSFATO DE CLINDAMICINA            1
4          AC                                         ALPRAZOLAM            2
...       ...                                                ...          ...
5095       TO      ÁCIDO CLAVULÂNICO + AMOXICILINA TRI-HIDRATADA            4
5096       TO       ÁCIDO CLAVULÂNICO + AMOXICILINA TRIHIDRATADA            3
5097       TO                                     ÁCIDO FUSÍDICO            5
5098       TO          ÁCIDO FUSÍDICO + VALERATO DE BETAMETASONA            9
5099       TO               ÁCIDO VALPRÓICO + VALPROATO DE SÓDIO            9

[5100 rows x 3 columns]

In [40]:
medicamentos_idade = medicamentos_idade_20_30.groupby('UF_VENDA').apply(lambda x: x.nlargest(1, 'QTD_VENDIDA')).reset_index(drop=True)

In [41]:
medicamentos_idade_30_40 = df_filtro_idade_30.groupby(['UF_VENDA', 'PRINCIPIO_ATIVO']).agg({'QTD_VENDIDA': 'sum'}).reset_index()

In [42]:
medicamentos_idade_30 = medicamentos_idade_30_40.groupby('UF_VENDA').apply(lambda x: x.nlargest(1, 'QTD_VENDIDA')).reset_index(drop=True)

In [43]:
medicamentos_idade_30

   UF_VENDA                                    PRINCIPIO_ATIVO  QTD_VENDIDA
0        AC                            CEFALEXINA MONOIDRATADA          538
1        AL                            CEFALEXINA MONOIDRATADA         1228
2        AM                            CEFALEXINA MONOIDRATADA         1678
3        AP                          AZITROMICINA DI-HIDRATADA          599
4        BA                          AZITROMICINA DI-HIDRATADA         5358
5        CE                          AZITROMICINA DI-HIDRATADA         2305
6        DF                          AZITROMICINA DI-HIDRATADA         3199
7        ES                          AZITROMICINA DI-HIDRATADA         3871
8        GO                          AZITROMICINA DI-HIDRATADA         7584
9        MA                            CEFALEXINA MONOIDRATADA         2437
10       MG                          AZITROMICINA DI-HIDRATADA        18174
11       MS                            CEFALEXINA MONOIDRATADA         2377
12       MT                            CEFALEXINA MONOIDRATADA         3401
13       PA                            CEFALEXINA MONOIDRATADA         3048
14       PB                                         CEFALEXINA         3627
15       PE                            CEFALEXINA MONOIDRATADA         3254
16       PI                            CEFALEXINA MONOIDRATADA         1360
17       PR                          AZITROMICINA DI-HIDRATADA         9789
18       RJ                          AZITROMICINA DI-HIDRATADA        10451
19       RN                          AZITROMICINA DI-HIDRATADA         3143
20       RO                            CEFALEXINA MONOIDRATADA         2213
21       RR                                         CEFALEXINA          479
22       RS                          AZITROMICINA DI-HIDRATADA        17112
23       SC                          AZITROMICINA DI-HIDRATADA         8188
24       SE                            CEFALEXINA MONOIDRATADA         1204
25       SP  AMOXICILINA TRI-HIDRATADA + CLAVULANATO DE POT...        51769
26       TO                          AZITROMICINA DI-HIDRATADA         1285

- medicamento mais vendido de 20 a 30 anos por estado

In [44]:
medicamentos_idade

   UF_VENDA            PRINCIPIO_ATIVO  QTD_VENDIDA
0        AC    CEFALEXINA MONOIDRATADA          446
1        AL    CEFALEXINA MONOIDRATADA         1248
2        AM    CEFALEXINA MONOIDRATADA         1809
3        AP    CEFALEXINA MONOIDRATADA          862
4        BA  AZITROMICINA DI-HIDRATADA         4158
5        CE  AZITROMICINA DI-HIDRATADA         2037
6        DF  AZITROMICINA DI-HIDRATADA         2289
7        ES  AZITROMICINA DI-HIDRATADA         2657
8        GO  AZITROMICINA DI-HIDRATADA         5951
9        MA  AZITROMICINA DI-HIDRATADA         2213
10       MG  AZITROMICINA DI-HIDRATADA        14114
11       MS  AZITROMICINA DI-HIDRATADA         1330
12       MT    CEFALEXINA MONOIDRATADA         2484
13       PA    CEFALEXINA MONOIDRATADA         3345
14       PB                 CEFALEXINA         3343
15       PE    CEFALEXINA MONOIDRATADA         2775
16       PI    CEFALEXINA MONOIDRATADA          941
17       PR  AZITROMICINA DI-HIDRATADA         7524
18       RJ  AZITROMICINA DI-HIDRATADA         7768
19       RN  AZITROMICINA DI-HIDRATADA         2815
20       RO    CEFALEXINA MONOIDRATADA         1864
21       RR                 CEFALEXINA          500
22       RS  AZITROMICINA DI-HIDRATADA        12517
23       SC  AZITROMICINA DI-HIDRATADA         6055
24       SE  AZITROMICINA DI-HIDRATADA         1165
25       SP  AZITROMICINA DI-HIDRATADA        30545
26       TO  AZITROMICINA DI-HIDRATADA         1094

In [45]:
import plotly.express as px

In [46]:
df_estados = pd.DataFrame({
    'UF_VENDA': ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO'],
    'estado': ['Acre', 'Alagoas', 'Amapá', 'Amazonas', 'Bahia', 'Ceará', 'Distrito Federal', 'Espírito Santo', 'Goiás', 'Maranhão', 'Mato Grosso', 'Mato Grosso do Sul', 'Minas Gerais', 'Pará', 'Paraíba', 'Paraná', 'Pernambuco', 'Piauí', 'Rio de Janeiro', 'Rio Grande do Norte', 'Rio Grande do Sul', 'Rondônia', 'Roraima', 'Santa Catarina', 'São Paulo', 'Sergipe', 'Tocantins'],
})

In [47]:
medicamentos_idade_com_estados = pd.merge(medicamentos_idade, df_estados, on='UF_VENDA')

In [48]:
medicamentos_idade_com_estados

   UF_VENDA            PRINCIPIO_ATIVO  QTD_VENDIDA               estado
0        AC    CEFALEXINA MONOIDRATADA          446                 Acre
1        AL    CEFALEXINA MONOIDRATADA         1248              Alagoas
2        AM    CEFALEXINA MONOIDRATADA         1809             Amazonas
3        AP    CEFALEXINA MONOIDRATADA          862                Amapá
4        BA  AZITROMICINA DI-HIDRATADA         4158                Bahia
5        CE  AZITROMICINA DI-HIDRATADA         2037                Ceará
6        DF  AZITROMICINA DI-HIDRATADA         2289     Distrito Federal
7        ES  AZITROMICINA DI-HIDRATADA         2657       Espírito Santo
8        GO  AZITROMICINA DI-HIDRATADA         5951                Goiás
9        MA  AZITROMICINA DI-HIDRATADA         2213             Maranhão
10       MG  AZITROMICINA DI-HIDRATADA        14114         Minas Gerais
11       MS  AZITROMICINA DI-HIDRATADA         1330   Mato Grosso do Sul
12       MT    CEFALEXINA MONOIDRATADA         2484          Mato Grosso
13       PA    CEFALEXINA MONOIDRATADA         3345                 Pará
14       PB                 CEFALEXINA         3343              Paraíba
15       PE    CEFALEXINA MONOIDRATADA         2775           Pernambuco
16       PI    CEFALEXINA MONOIDRATADA          941                Piauí
17       PR  AZITROMICINA DI-HIDRATADA         7524               Paraná
18       RJ  AZITROMICINA DI-HIDRATADA         7768       Rio de Janeiro
19       RN  AZITROMICINA DI-HIDRATADA         2815  Rio Grande do Norte
20       RO    CEFALEXINA MONOIDRATADA         1864             Rondônia
21       RR                 CEFALEXINA          500              Roraima
22       RS  AZITROMICINA DI-HIDRATADA        12517    Rio Grande do Sul
23       SC  AZITROMICINA DI-HIDRATADA         6055       Santa Catarina
24       SE  AZITROMICINA DI-HIDRATADA         1165              Sergipe
25       SP  AZITROMICINA DI-HIDRATADA        30545            São Paulo
26       TO  AZITROMICINA DI-HIDRATADA         1094            Tocantins

In [49]:
medicamentos_idade_com_estados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UF_VENDA         27 non-null     object
 1   PRINCIPIO_ATIVO  27 non-null     object
 2   QTD_VENDIDA      27 non-null     int64
 3   estado           27 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.1+ KB

In [50]:
medicamentos_idade_com_estados = medicamentos_idade_com_estados.rename(columns={"UF_VENDA": "sigla"})

In [51]:
medicamentos_idade_com_estados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sigla            27 non-null     object
 1   PRINCIPIO_ATIVO  27 non-null     object
 2   QTD_VENDIDA      27 non-null     int64
 3   estado           27 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.1+ KB

In [199]:
import json

with open("brazil-states.json") as arquivo:
    geojson = json.load(arquivo)
    
fig = px.choropleth(medicamentos_idade_com_estados,
                    locations='sigla',
                    title = "Medicamentos mais vendidos por Estado de 20 a 30 anos",
                    geojson=geojson,
                    color='QTD_VENDIDA',
                    hover_data=['QTD_VENDIDA','estado','PRINCIPIO_ATIVO'],
                    scope='south america',
                    width=600,
                    height=600
)

In [ ]:
# fig.show()

# estado q mais vende por tamanho de população

In [71]:
qtd_vendida_populacao = qtd_vendida.groupby('UF_VENDA')["QTD_VENDIDA"].sum()
qtd_vendida_populacao

UF_VENDA
AC      59935
AL     233059
AM     125676
AP      56166
BA    1082199
CE     719334
DF    1272893
ES     563710
GO    1203127
MA     431015
MG    3902135
MS     354738
MT     377057
PA     448861
PB     606068
PE    1072268
PI     226218
PR    1755949
RJ    2180755
RN     557518
RO     204815
RR      33992
RS    5471156
SC    2028813
SE     248773
SP    7776115
TO     140791
Name: QTD_VENDIDA, dtype: int64

In [99]:
df_estados_populacao = pd.DataFrame({
    'UF_VENDA': ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO'],
    'estado': ['Acre', 'Alagoas', 'Amapá', 'Amazonas', 'Bahia', 'Ceará', 'Distrito Federal', 'Espírito Santo', 'Goiás', 'Maranhão', 'Mato Grosso', 'Mato Grosso do Sul', 'Minas Gerais', 'Pará', 'Paraíba', 'Paraná', 'Pernambuco', 'Piauí', 'Rio de Janeiro', 'Rio Grande do Norte', 'Rio Grande do Sul', 'Rondônia', 'Roraima', 'Santa Catarina', 'São Paulo', 'Sergipe', 'Tocantins'],
    'população': [894470,3351543,861773,4207714,14930634,9187103,3055149,4064052,7113540,7114598,3526220,2809394,21292666,8690745,4039277,11516840,9616621,3281480,17366189,3534165,11422973,1796460,652713,7252502,46289333,2318822,1590248]
})

In [147]:
medicamentos_idade_população = pd.merge(qtd_vendida_populacao, df_estados_populacao, on='UF_VENDA')
medicamentos_idade_população

   UF_VENDA  QTD_VENDIDA               estado  população
0        AC        59935                 Acre     894470
1        AL       233059              Alagoas    3351543
2        AM       125676             Amazonas    4207714
3        AP        56166                Amapá     861773
4        BA      1082199                Bahia   14930634
5        CE       719334                Ceará    9187103
6        DF      1272893     Distrito Federal    3055149
7        ES       563710       Espírito Santo    4064052
8        GO      1203127                Goiás    7113540
9        MA       431015             Maranhão    7114598
10       MG      3902135         Minas Gerais   21292666
11       MS       354738   Mato Grosso do Sul    2809394
12       MT       377057          Mato Grosso    3526220
13       PA       448861                 Pará    8690745
14       PB       606068              Paraíba    4039277
15       PE      1072268           Pernambuco    9616621
16       PI       226218                Piauí    3281480
17       PR      1755949               Paraná   11516840
18       RJ      2180755       Rio de Janeiro   17366189
19       RN       557518  Rio Grande do Norte    3534165
20       RO       204815             Rondônia    1796460
21       RR        33992              Roraima     652713
22       RS      5471156    Rio Grande do Sul   11422973
23       SC      2028813       Santa Catarina    7252502
24       SE       248773              Sergipe    2318822
25       SP      7776115            São Paulo   46289333
26       TO       140791            Tocantins    1590248

In [173]:
medicamentos_idade_população["QTD_POP"] = (medicamentos_idade_população["QTD_VENDIDA"]/medicamentos_idade_população["população"])
medicamentos_idade_população = medicamentos_idade_população.sort_values(by='QTD_POP', ascending=False)
medicamentos_idade_população

   UF_VENDA  QTD_VENDIDA               estado  população   QTD_POP
22       RS      5471156    Rio Grande do Sul   11422973  0.478961
6        DF      1272893     Distrito Federal    3055149  0.416639
23       SC      2028813       Santa Catarina    7252502  0.279740
10       MG      3902135         Minas Gerais   21292666  0.183262
8        GO      1203127                Goiás    7113540  0.169132
25       SP      7776115            São Paulo   46289333  0.167989
19       RN       557518  Rio Grande do Norte    3534165  0.157751
17       PR      1755949               Paraná   11516840  0.152468
14       PB       606068              Paraíba    4039277  0.150044
7        ES       563710       Espírito Santo    4064052  0.138706
11       MS       354738   Mato Grosso do Sul    2809394  0.126269
18       RJ      2180755       Rio de Janeiro   17366189  0.125575
20       RO       204815             Rondônia    1796460  0.114010
15       PE      1072268           Pernambuco    9616621  0.111502
24       SE       248773              Sergipe    2318822  0.107284
12       MT       377057          Mato Grosso    3526220  0.106930
26       TO       140791            Tocantins    1590248  0.088534
5        CE       719334                Ceará    9187103  0.078298
4        BA      1082199                Bahia   14930634  0.072482
1        AL       233059              Alagoas    3351543  0.069538
16       PI       226218                Piauí    3281480  0.068938
0        AC        59935                 Acre     894470  0.067006
3        AP        56166                Amapá     861773  0.065175
9        MA       431015             Maranhão    7114598  0.060582
21       RR        33992              Roraima     652713  0.052078
13       PA       448861                 Pará    8690745  0.051648
2        AM       125676             Amazonas    4207714  0.029868

# normalizando

In [182]:
medicamentos_idade_população["normalizado"] = (medicamentos_idade_população["QTD_POP"]/medicamentos_idade_população["QTD_POP"].sum())*100
medicamentos_idade_população

,UF_VENDA,QTD_VENDIDA,estado,população,QTD_POP,normalizado
22,RS,5471156,Rio Grande do Sul,11422973,0.478961,12.978536
6,DF,1272893,Distrito Federal,3055149,0.416639,11.289774
23,SC,2028813,Santa Catarina,7252502,0.279740,7.580187
10,MG,3902135,Minas Gerais,21292666,0.183262,4.965900
8,GO,1203127,Goiás,7113540,0.169132,4.583017
25,SP,7776115,São Paulo,46289333,0.167989,4.552055
19,RN,557518,Rio Grande do Norte,3534165,0.157751,4.274623
17,PR,1755949,Paraná,11516840,0.152468,4.131467
14,PB,606068,Paraíba,4039277,0.150044,4.065776
7,ES,563710,Espírito Santo,4064052,0.138706,3.758566
11,MS,354738,Mato Grosso do Sul,2809394,0.126269,3.421534
18,RJ,2180755,Rio de Janeiro,17366189,0.125575,3.402735
20,RO,204815,Rondônia,1796460,0.114010,3.089370
15,PE,1072268,Pernambuco,9616621,0.111502,3.021389
24,SE,248773,Sergipe,2318822,0.107284,2.907111
12,MT,377057,Mato Grosso,3526220,0.106930,2.897499
26,TO,140791,Tocantins,1590248,0.088534,2.399031
5,CE,719334,Ceará,9187103,0.078298,2.121670
4,BA,1082199,Bahia,14930634,0.072482,1.964059
1,AL,233059,Alagoas,3351543,0.069538,1.884286
16,PI,226218,Piauí,3281480,0.068938,1.868027
0,AC,59935,Acre,894470,0.067006,1.815685
3,AP,56166,Amapá,861773,0.065175,1.766064
9,MA,431015,Maranhão,7114598,0.060582,1.641602
21,RR,33992,Roraima,652713,0.052078,1.411173
13,PA,448861,Pará,8690745,0.051648,1.399525
2,AM,125676,Amazonas,4207714,0.029868,0.809342

In [183]:
import plotly.graph_objs as go

In [184]:
pizza = go.Figure(
    data=[go.Pie(
        labels=medicamentos_idade_população['UF_VENDA'],
        values=medicamentos_idade_população['normalizado'],
        hole=0.5,
        marker=dict(colors=['#ff7f0e', '#2ca02c', '#d62728']),
        hoverinfo='label+percent',
        textinfo='value'
   )]
)

In [185]:
pizza.update_layout(
    title='Medicamentos Vendidos per Capita por Estado',
    width=800,
    height=600
)

pizza.show()

- Municipios que mais vende medicamentos por Estado

In [186]:
#Carregando a base de dados original, extraída: https://dados.gov.br/dados/conjuntos-dados/venda-de-medicamentos-controlados-e-antimicrobianos---medicamentos-industrializados
   # Medicamentos Controlados e Antimicrobiano # 

medicamentos = pd.read_csv('EDA_Industrializados_202110.csv', sep =";", encoding="latin1")

In [187]:
#---Filtrando as colunas com as informações para responder a pergunta formulada---#
df = medicamentos.filter(["UF_VENDA", "MUNICIPIO_VENDA", "PRINCIPIO_ATIVO", "QTD_VENDIDA", "IDADE"])

In [188]:
#---Sumarizando a quantidade vendida, utilzando a chave UF e Municipio---#
df2 = df.groupby(["UF_VENDA","MUNICIPIO_VENDA"])["QTD_VENDIDA"].sum().reset_index()

In [189]:
#---Gerando um ndarray com os UFs únicos---#
capitais = df2["UF_VENDA"].unique()

In [190]:
#---Gerando um df com os municipios que mais vende por estado
maior_venda_municipio = pd.DataFrame() 
# Percorrendo o data frame df2 através das UFs armazenadas em "capitais" para filtrar o maior valor vendido
for i in capitais: 
    df3 = df2[df2["UF_VENDA"] == i]
    df4 = df3.sort_values(by="QTD_VENDIDA", ascending=False).head(1) 
    maior_venda_municipio = pd.concat([df4,maior_venda_municipio])

In [191]:
#---Ordenamos e selecionamos os 5 maiores municipios que venderam medicamentos por Estado
maior_venda_municipio.sort_values(by="QTD_VENDIDA", ascending=False).head(5)

     UF_VENDA MUNICIPIO_VENDA  QTD_VENDIDA
4839       SP       SÃO PAULO      2109512
3898       RS     TUPANCIRETÃ      1445626
675        DF        BRASÍLIA      1111312
3217       RJ  RIO DE JANEIRO       933949
4096       SC     NOVA VENEZA       638058

- Agora, medicamentos mais vendidos para esses estados

In [192]:
df5 = maior_venda_municipio.sort_values(by="QTD_VENDIDA", ascending=False).head(5).reset_index()
top_capitais = df5["UF_VENDA"]

In [193]:
#---Sumarizando a quantidade vendida, utilzando a chave UF e Principio Ativo---#
df6= df.groupby(["UF_VENDA","PRINCIPIO_ATIVO"])["QTD_VENDIDA"].sum().reset_index()

In [194]:
#---Gerando um df com os principio ativos que mais vende por estado
maior_venda_principio = pd.DataFrame() 
# Percorrendo o data frame df2 através das UFs armazenadas em "capitais" para filtrar o maior valor vendido
for i in top_capitais: 
    df3 = df6[df6["UF_VENDA"] == i]
    df4 = df3.sort_values(by="QTD_VENDIDA", ascending=False).head(1) 
    maior_venda_principio = pd.concat([df4,maior_venda_principio])

In [195]:
maior_venda_principio.sort_values(by="QTD_VENDIDA", ascending=False)

     UF_VENDA             PRINCIPIO_ATIVO  QTD_VENDIDA
6866       RS  HEMIFUMARATO DE QUETIAPINA      1520140
7817       SP     DECANOATO DE NANDROLONA       731319
1668       DF          CARBONATO DE LÍTIO       724357
7296       SC  UNDECILATO DE TESTOSTERONA       637521
5652       RJ                  CLONAZEPAM       193386